
<%= form_for [@trip] do |f| %>

<% if @trip.errors.any? %>
    <div id="error_explanation">
      <p>There were some errors</p>
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :user_id, :value => @user.id %>



  <%= f.label :description %><br>
  <%= f.text_field :description %><br><br>
  <%= f.label :budget %><br>
  <%= f.text_field :budget %><br><br>
  <%= f.label :start_date %><br>
  <%= f.text_field :start_date %><br><br>
  <%= f.label :end_date %><br>
  <%= f.text_field :end_date %><br><br>

  <%= f.submit "Create Trip" %>
<%end %>
