<h1> Welcome to your trip tracker </h1>

<% @user_trips.each do |trip| %>
<%= link_to trip.description, trip_path(trip.id) %> - Budget: <%= trip.budget %> <br>
    <strong>Dates:</strong> <%= trip.start_date.try(:strftime,"%-m/%d/%-y") %> - <%= trip.end_date.try(:strftime,"%-m/%d/%-y") %> <br>
<% trip.destinations.each do |d| %>
    Destination: <%= d.country %><br>
    Activity: <% d.activities.each do |activity| %>
                <%= activity.name %><br>
              <%end%>
  <% end %>
<%end%><br><br>
