<h1> Welcome to your trip tracker </h1>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

<% @trips.each do |trip| %>
<%= trip.description %> - <%= trip.budget %><br>
<%end%>
<%= link_to "add a new trip", new_trip_path %>
