<h1> Welcome to your trip tracker </h1>

<%   @user_trips.each do |trip| %>
Dates: <%= trip.start_date.try(:strftime,"%-b %d/%-y") %> - <%= trip.end_date.try(:strftime,"%-b %d/%-y") %> <br><%= link_to trip.description, trip_path(trip.id) %> - <%= trip.budget %> <br>
<% trip.destinations.each do |d| %>
<%= d.country %>
<% end %>
<%end%>


<%= link_to "add a new trip", new_trip_path %>
