<h1>Here is your trip!</h1>
<h2>You're going to <%= @trip.description %><br>
Trip Dates: <%= @trip.start_date %> to  <%= @trip.end_date %><br>

Budget <%= @trip.budget %><br> </h2>

<h3> <%= link_to "add an activity", new_activity_path %>
