
<h2>You're going to <%= @trip.description %><br>
Trip Dates: <%= @trip.start_date.try(:strftime,"%-m/%-d/%-Y") %> to  <%= @trip.end_date.try(:strftime,"%-m/%-d/%-Y") %> <br>

Budget $<%= @trip.budget %><br> </h2>
<% @trip.destinations.each do |destination| %>
<%= destination.country %>
destination.activities.each
<% end %><br><br>



<%= link_to '<button type="button">Edit Trip</button>'.html_safe, edit_trip_path(@trip) %>
<%= form_tag trip_path(@trip), method: "delete" do %>
<%= submit_tag "Delete #{@trip.description}" %>
<%end%>
 <%= link_to '<button type="button">Add a Destination</button>'.html_safe, new_trip_destination_path(@trip, @destination) %>
