<h1> <%=@user.name%>, Here is your new destination:<br>
   <%= @destination.country.capitalize %> <br>

</h1>
<%= link_to '<button type="button">Edit destination</button>'.html_safe, edit_trip_destination_path %>
<%= form_tag activity_path(@destination.id), method: "delete" do %>
  <%= submit_tag "Delete #{@destination.country}" %>
  <%end%>



  <%= link_to '<button type="button">Add Activities</button>'.html_safe, new_activity_path(:trip_id => @trip_id, :destination_id => @destination_id) %>
