<h1><%=@user.name %>, You've successfully added  <%= @activity.name %><br>
  <%= link_to '<button type="button">Edit activity</button>'.html_safe, edit_activity_path(@activity) %>
<%= form_tag activity_path(@activity.id), method: "delete" do %>
  <%= submit_tag "Delete #{@activity.name}" %>
  <%end%>
<%= link_to '<button type="button">Back to Trips</button>'.html_safe, user_trips_path(@user, @trip) %> 
