<h1><%=@user.name %>, You've successfully added  <%= @activity.name %> for your trip:

  <%= @trip.description %>

</h1><br>
  <%= link_to '<button type="button">Edit activity</button>'.html_safe, edit_activity_path(@activity) %>
<%= form_tag activity_path(@activity.id), method: "delete" do %>
  <%= submit_tag "Delete #{@activity.name}" %>
  <%end%>
<%= link_to '<button type="button">Back to Trips</button>'.html_safe, trips_path %>
