<h1><%=@user.name %>, You've successfully added  <%= @activity.name %> for your trip to

<% @user.trips.each do |trip| %>
  <%= trip.description %>
<%end%>!</h1>

<h2><%= link_to "Back to trips", user_trips_path(@user, @trip) %> </h2>
<h2><%= link_to "View all activities", activities_path %> </h2>
