<!DOCTYPE html>
<html>
  <head>
    <title>TravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="container"  role="main">


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TRIP PLANNER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <% if logged_in? %>
           <%= link_to "Profile", user_path(current_user), {:class => 'nav-link'} %>

          <% else %>
          <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
          <%end%>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="all-trips" href="/trips">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/top_destinations">Top Destinations</a>
        </li>
        <li class="nav-item">
          <% if !logged_in? %><a class="nav-link" href="/login">Log In</a> <%else%> <a class="nav-link" href="/logout">Log Out</a>

        <% end %>
          </li>
      </ul>
    </div>
  </nav>

  <div class="container">
       <% flash.each do |key, value| %>
         <div class="alert alert-<%= key %>"><%= value %></div>
       <% end %>

     </div>

      <%= yield %>
    </div>
  </body>
</html>
